table {
    width: 100px;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-link {
    color: #545b62;
}

.page-item.active .page-link {
    background-color: #545b62;
    border-color: #545b62;
    color: #fff;
}